.range-chart-wrapper{
	padding-top: 4em;
}
.save-button-wrapper{
	padding-top: 3em;
}

.range-chart-wrapper .ui-slider {
	position: relative;
	text-align: left;
	/*border: 1px solid #dddddd;*/
}

.range-chart-wrapper .ui-slider .ui-slider-handle {
	position: absolute;
	width: 20px;
	cursor: default;
	outline: none;
	z-index: 10;
	font-size: 16px;
	background-color: #0287C6;
	height: 20px;
	color: white;
	overflow: visible;
	border-radius: 3px 3px 0px 0px;
}

.range-chart-wrapper .ui-slider .ui-slider-handle .point:after{
	content: ' ';
	display: block;
	position: relative;
	z-index: 9;
	top: -3px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #0287C6;
}

.range-chart-wrapper .ui-slider .tooltip-wrapper .tooltip-after{
	display: block;
	position: relative;
	left: 5px;
	top: -76px;
	z-index: 9;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #D2D2D2;
}

.range-chart-wrapper .ui-slider .range-chart-tooltip{
	position: relative;
	top: -76px;
	width: 70px;
	opacity: 1;
	left: -20px;
	text-align: center;	
	color: #0287C6;
	border: 1px solid #D2D2D2;
	border-radius: 1px;
}

.range-chart-wrapper .range-chart-baseline{
	position: relative;
	width: 100%;
	height: 8px;
	top: 6px;
	background-color: #D1D1D1;
	border-top: solid 1px #999A9A;
}

.range-chart-wrapper .ui-slider .ui-state-focus{
	z-index: 1000;
}


.range-chart-wrapper .ui-slider .tooltip-wrapper .explorer-after-support{
	top: -76px;
}
.range-chart-wrapper .ui-slider .tooltip-wrapper .explorer-tooltip-support{
	padding: 5px 0px;
}